:root {
  /* Colors */

  /* Primary */
  --c-desaturated-dark-cyan: hsl(180, 29%, 50%);

  /* Neutral */
  --c-white: hsl(0, 0%, 100%);
  --c-light-grayish-cyan-background: hsl(180, 52%, 96%);
  --c-light-grayish-cyan-filter-tablets: hsl(180, 31%, 95%);
  --c-dark-grayish-cyan: hsl(180, 8%, 52%);
  --c-very-dark-grayish-cyan: hsl(180, 14%, 20%);

  /* Opacity */

  --c-desaturated-dark-cyan-20: hsla(180, 29%, 50%, 0.2);

  /* Box shadow */

  --bs-primary: 0 20px 20px -10px var(--c-desaturated-dark-cyan-20);

  /* Typography */

  /* Font size */
  --fs-base: 15px;

  /* Font family */
  --ff-base: 'Spartan', sans-serif;

  /* Font weight */
  --fw-medium: 500;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: var(--fs-base);
}

body {
  background-color: var(--c-light-grayish-cyan-background);
  display: flex;
  flex-direction: column;
  font-family: var(--ff-base);
  margin: 0;
  min-height: 100vh;
  overflow-y: scroll;
}

button {
  border: 0;
  cursor: pointer;
  font-family: inherit;
}

.page-header-background {
  background-color: var(--c-desaturated-dark-cyan);
  background-image: url('../images/bg-header-mobile.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 156px;
}

fm-job-filters {
  align-items: center;
  background-color: var(--c-white);
  border-radius: 5px;
  box-shadow: var(--bs-primary);
  display: flex;
  justify-content: space-between;
  margin-top: -2.4rem;
  padding: 0.3rem 1.35rem 1.3rem;
}

fm-job-filters.hidden {
  display: none;
}

.fm-filter-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.fm-filter-item {
  display: flex;
  margin: 1rem 1rem 0 0;
}

.fm-filter-content {
  background-color: var(--c-light-grayish-cyan-filter-tablets);
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  color: var(--c-desaturated-dark-cyan);
  font-size: 0.9rem;
  font-weight: var(--fw-bold);
  padding: 0.5rem;
}

.fm-remove-filter-button {
  align-items: center;
  background-color: var(--c-desaturated-dark-cyan);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 4px;
  display: flex;
  padding: 0 0.6rem;
}

.fm-remove-filter-button:hover,
.fm-remove-filter-button:focus {
  background-color: var(--c-very-dark-grayish-cyan);
}

.fm-clear-filters-button {
  background-color: transparent;
  color: var(--c-dark-grayish-cyan);
  font-weight: var(--fw-bold);
  margin-top: 1rem;
}

.fm-clear-filters-button:hover,
.fm-clear-filters-button:focus {
  color: var(--c-desaturated-dark-cyan);
  text-decoration: underline;
}

.job-filters-wrapper,
.job-listing-wrapper {
  margin: 0 auto;
  max-width: 1155px;
  padding: 0 1.5rem;
}

.main-content {
  margin-top: 3.7rem;
}

.fm-job-list,
.fm-job-list ul {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.fm-job-item {
  position: relative;
}

.fm-job-item:not(:last-child) {
  margin-bottom: 2.7rem;
}

fm-job-article {
  box-shadow: var(--bs-primary);
  display: block;
}

fm-job-article ul {
  display: inline-flex;
  flex-wrap: wrap;
}

fm-job-article.featured::before {
  background-color: var(--c-desaturated-dark-cyan);
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  content: '';
  height: 100%;
  position: absolute;
  width: 0.35rem;
}

.fm-content {
  background-color: var(--c-white);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 2.2rem 1.7rem 1.7rem;
}

.fm-logo {
  position: absolute;
  top: -1.6rem;
  width: 3.2rem;
}

.fm-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 83px;
}

.fm-company {
  color: var(--c-desaturated-dark-cyan);
  font-size: 0.87rem;
  font-weight: var(--fw-bold);
  margin-right: 0.9rem;
}

.fm-title {
  margin: 0;
  font-size: 1rem;
  font-weight: var(--fw-bold);
}

.fm-title-link {
  color: var(--c-very-dark-grayish-cyan);
  text-decoration: none;
}

.fm-title-link:hover,
.fm-title-link:focus {
  color: var(--c-desaturated-dark-cyan);
}

.fm-footer {
  color: var(--c-dark-grayish-cyan);
  display: flex;
  flex-wrap: wrap;
  font-size: 0.85rem;
  font-weight: var(--fw-medium);
}

.fm-footer-item + .fm-footer-item::before {
  content: '\2022';
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.fm-tag-content,
.fm-category-content {
  line-height: 1;
  margin-top: 3px;
}

.fm-tag-list {
  vertical-align: middle;
}

.fm-tag-item {
  border-radius: 1rem;
  color: var(--c-white);
  display: flex;
  font-size: 0.7rem;
  font-weight: var(--fw-bold);
  padding: 0.35rem 0.6rem;
  text-transform: uppercase;
}

.fm-tag-item + .fm-tag-item {
  margin-left: 0.5rem;
}

.fm-tag-item.new {
  background-color: var(--c-desaturated-dark-cyan);
}

.fm-tag-item.featured {
  background-color: var(--c-very-dark-grayish-cyan);
}

.fm-category-list::before {
  background-color: var(--c-dark-grayish-cyan);
  content: '';
  display: block;
  height: 1px;
  margin-top: 1.4rem;
  width: 100%;
}

.fm-category-item {
  margin-top: 1.1rem;
}

.fm-category-item:not(:last-child) {
  margin-right: 1rem;
}

.fm-category-button {
  background-color: var(--c-light-grayish-cyan-filter-tablets);
  border-radius: 4px;
  color: var(--c-desaturated-dark-cyan);
  display: flex;
  font-size: 0.9rem;
  font-weight: var(--fw-bold);
  padding: 0.5rem;
}

.fm-category-button:hover,
.fm-category-button:focus {
  background-color: var(--c-desaturated-dark-cyan);
  color: var(--c-white);
}

@media (min-width: 1110px) {
  .page-header-background {
    background-image: url('../images/bg-header-desktop.svg');
  }

  fm-job-filters {
    margin-top: -4.75rem;
    transform: translateY(2.4rem);
  }

  .main-content {
    margin-top: 5rem;
  }

  .fm-job-item:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .fm-content {
    align-items: center;
    flex-direction: row;
    padding: 2.2rem 2.6rem;
  }

  .fm-logo {
    position: initial;
    width: auto;
  }

  .fm-info {
    margin-left: 1.7rem;
    min-height: 88px;
  }

  .fm-company {
    font-size: 0.93rem;
  }

  .fm-title {
    font-size: 1.2rem;
  }

  .fm-footer {
    font-size: 1rem;
  }

  .fm-footer-item + .fm-footer-item::before {
    margin-left: 1.1rem;
    margin-right: 1.1rem;
  }

  .fm-category-list {
    margin-left: auto;
  }

  .fm-category-list::before {
    content: none;
  }

  .fm-category-item {
    margin-top: 0;
  }
}

/* Frontend Mentor attribution */

.attribution {
  font-size: 11px;
  margin-bottom: 1rem;
  margin-top: auto;
  padding-top: 5rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
