:root {
  /* Breakpoints */

  --bp-mobile: 375px;
  --bp-desktop: 1440px;

  /* Colors */

  /* Primary */
  --c-desaturated-dark-cyan: hsl(180, 29%, 50%);

  /* Neutral */
  --c-white: hsl(0, 0%, 100%);
  --c-light-grayish-cyan-background: hsl(180, 52%, 96%);
  --c-light-grayish-cyan-filter-tablets: hsl(180, 31%, 95%);
  --c-dark-grayish-cyan: hsl(180, 8%, 52%);
  --c-very-dark-grayish-cyan: hsl(180, 14%, 20%);

  /* Opacity */

  --c-desaturated-dark-cyan-20: hsla(180, 29%, 50%, 0.2);

  /* Box shadow */

  --bs-job-item: 0 20px 20px -10px var(--c-desaturated-dark-cyan-20);

  /* Typography */

  /* Font size */
  --fs-base: 15px;

  /* Font family */
  --ff-base: 'Spartan', sans-serif;

  /* Font weight */
  --fw-medium: 500;
  --fw-bold: 700;

  /* Animation duration */
  --fm-job-item-animation-duration: 250ms;
  --fm-job-item-animation-duration-offset: 100ms;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: var(--fs-base);
}

body {
  background-color: var(--c-light-grayish-cyan-background);
  display: flex;
  flex-direction: column;
  font-family: var(--ff-base);
  margin: 0;
  min-height: 100vh;
  overflow-y: scroll;
}

.page-header {
  background: var(--c-desaturated-dark-cyan) url('../images/bg-header-desktop.svg') center;
  height: 156px;
}

.job-listing-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1110px;
  padding-top: 5rem;
}

fm-job-list {
  display: flex;
  flex-direction: column;
}

fm-job-list ul {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.fm-job-item {
  animation: slide-in var(--fm-job-item-animation-duration) ease-in-out calc(50ms * var(--fm-job-item-index)) forwards;
  opacity: 0;
  transform: translateX(-50px);
}

.fm-job-item.hidden {
  animation: slide-out var(--fm-job-item-animation-duration) ease-in-out calc(50ms * var(--fm-job-item-index)) forwards;
  opacity: 1;
  transform: translateX(0px);
}

.fm-job-item:not(:last-child) {
  margin-bottom: 1.5rem;
}

fm-job-article {
  box-shadow: var(--bs-job-item);
  display: block;
  position: relative;
}

fm-job-article ul {
  display: inline-flex;
}

fm-job-article.featured::before {
  background-color: var(--c-desaturated-dark-cyan);
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  content: '';
  height: 100%;
  position: absolute;
  width: 0.35rem;
}

fm-job-article .fm-content {
  align-items: center;
  background-color: var(--c-white);
  border-radius: 8px;
  display: flex;
  padding: 2.2rem 2.6rem;
}

fm-job-article .fm-info {
  display: flex;
  flex-direction: column;
  height: 88px;
  justify-content: space-between;
  margin-left: 1.7rem;
}

fm-job-article .fm-company {
  color: var(--c-desaturated-dark-cyan);
  font-size: 0.93rem;
  font-weight: var(--fw-bold);
}

fm-job-article .fm-title {
  color: var(--c-very-dark-grayish-cyan);
  font-size: 1.2rem;
  margin: 0;
  text-decoration: none;
  font-weight: var(--fw-bold);
}

fm-job-article .fm-title:hover,
fm-job-article .fm-title:focus {
  color: var(--c-desaturated-dark-cyan);
}

fm-job-article .fm-footer {
  color: var(--c-dark-grayish-cyan);
  display: flex;
  font-weight: var(--fw-medium);
}

fm-job-article .fm-footer-item + .fm-footer-item::before {
  content: '\2022';
  margin-left: 1.1rem;
  margin-right: 1.1rem;
}

.fm-tag-content,
.fm-category-content {
  line-height: 1;
  margin-top: 3px;
}

.fm-tag-list {
  margin-left: 0.9rem;
  vertical-align: middle;
}

.fm-tag-item {
  border-radius: 1rem;
  color: var(--c-white);
  display: flex;
  font-size: 0.7rem;
  font-weight: var(--fw-bold);
  padding: 0.35rem 0.6rem;
  text-transform: uppercase;
}

.fm-tag-item + .fm-tag-item {
  margin-left: 0.5rem;
}

.fm-tag-item.new {
  background-color: var(--c-desaturated-dark-cyan);
}

.fm-tag-item.featured {
  background-color: var(--c-very-dark-grayish-cyan);
}

.fm-category-list {
  margin-left: auto;
}

.fm-category-item + .fm-category-item {
  margin-left: 1rem;
}

.fm-category-button {
  background-color: var(--c-light-grayish-cyan-filter-tablets);
  border-radius: 4px;
  border: 0;
  color: var(--c-desaturated-dark-cyan);
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: var(--fw-bold);
  padding: 0.5rem;
}

.fm-category-button:hover,
.fm-category-button:focus {
  background-color: var(--c-desaturated-dark-cyan);
  color: var(--c-white);
}

@keyframes slide-in {
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slide-out {
  100% {
    opacity: 0;
    transform: translateX(-50px);
  }
}

/* Loader */

.lds-ring {
  align-self: center;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--c-desaturated-dark-cyan);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--c-desaturated-dark-cyan) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Frontend Mentor attribution */

.attribution {
  font-size: 11px;
  margin-bottom: 1rem;
  margin-top: auto;
  padding-top: 5rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
